
# 查看更多 .gitignore 配置 -> https://help.github.com/articles/ignoring-files/

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
**/**/target
**/target
target
